{% extends "master.njk" %}

{% block contenido %}

    <div class="container mt-5">
        <h2 class="d-flex justify-content-center mb-4">Multiplicar</h2>
        <div class="d-flex justify-content-center">

            <div class="border shadow p-4 bg-body rounded">
                <form action="/multiplicar" method="GET">
                    <h1 class="fs-3 mb-3">Ingresar dos números para multiplicar</h1>
                    <div class="mb-3">
                        <label for="num1" class="form-label">Número 1</label>
                        <input type="number" class="form-control" id="num1" name="num1" placeholder="Ingresar el primer número..."/>
                    </div>
                    <div class="mb-3">
                        <label for="num2" class="form-label">Número 2</label>
                        <input type="number" class="form-control" id="num2" name="num2" placeholder="Ingresar el segundo número..."/>
                    </div>
                    <div class="mb-3">
                        <label for="resultado" class="form-label">Resultado</label>
                        <p>{{resultado}}</p>
                    </div>
                    <button type="button" class="btn btn-success">Multiplicar</button>
                </form>

            </div>
        </div>
        <script src="/js/app.js"></script>

    {% endblock %}